<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- 后台管理库连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false"/>
    <add key="ConnectionString" value="server=114.215.158.215;database=Mozart;uid=sa;pwd=436402" />
    <add key="DtrConnString" value="server=114.215.158.215;database=Distributor;uid=sa;pwd=436402" />
    
    <!--云通讯短信，生产环境："app.cloopen.com"，开发环境：sandboxapp.cloopen.com-->
    <add key="CCPRestSDKRestURL" value="app.cloopen.com"/>
    <add key="CCPRestSDKRestURLPort" value="8883"/>
    <!--云通讯短信，V易GO："aaf98f8949e0e5ac0149e20e425600fa"，测试："8a48b55149896cfd0149cb14a05429cf"-->
    <add key="CCPRestSDKAppID" value="aaf98f8949e0e5ac0149e20e425600fa"/>
    
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="120"/>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET 
            使用该模式来识别来访用户身份。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpRuntime maxRequestLength="2097151" executionTimeout="3600"/>
    <pages validateRequest="false" clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="webdiyer" namespace="Wuqi.Webdiyer" assembly="AspNetPager"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <remove value="Default.htm"/>
        <remove value="Default.asp"/>
        <remove value="index.htm"/>
        <remove value="index.html"/>
        <remove value="iisstart.htm"/>
        <remove value="default.aspx"/>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SecHandProductMsgSoap" />
        <binding name="OtherServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1156/WebService/SecHandProductMsg.asmx"
        binding="basicHttpBinding" bindingConfiguration="SecHandProductMsgSoap"
        contract="SecHandProductTip.SecHandProductMsgSoap" name="SecHandProductMsgSoap" />
      <endpoint address="http://220.165.5.250:7007/OtherService.asmx"
        binding="basicHttpBinding" bindingConfiguration="OtherServiceSoap"
        contract="srChargeFee.OtherServiceSoap" name="OtherServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>