body,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd,form {
	margin:0
}
ul,ol {
	padding-left:0;
	list-style-type:none
}
img {
	border:0;
	vertical-align:bottom
}
body {
	background-color:#eee;
	color:#333;
	font-family: "微软雅黑";
}
a {
	color:#126185;
	text-decoration:none
}
p,.p {
	margin:.5em 0
}
small,h6 {
	font-size:88%
}
input.radius,select.radius {
	height:1.8em
}
input.radius,span.radius input {
	padding-left:.6em;
	padding-right:.6em
}
span.radius {
	display:inline-block;
	padding-right:1.4em;
	vertical-align:middle;
	overflow:hidden
}
span.radius input {
	height:1.9em;
	margin-top:-2px
}
input,select,textarea,h4,h5 {
	font-size:100%
}
.radius textarea {
	width:96%;
	padding:.5em 2%
}
[size="6"] {
	width:3.8em
}
[size="8"] {
	width:4.8em
}
[size="10"] {
	width:5.8em
}
[size="12"] {
	width:6.8em
}
[size="16"] {
	width:8.8em
}
label[data-length] {
	display:inline-block;
	margin-right:.2em;
	text-align:right
}
label[data-length="4"] {
	width:4em
}
label[data-length="5"] {
	width:5em
}
label[data-length="6"] {
	width:6em
}
.cb {
	color:#126185
}
.co {
	color:#d04634
}
.g3 {
	color:#333
}
.g6 {
	color:#666
}
.g9 {
	color:#999
}
.wh {
	color:#fff
}
.dn {
	display:none
}
.dib {
	display:inline-block
}
.h20 {
	height:20px
}
.abs {
	position:absolute
}
.tc {
	text-align:center
}
.ml10 {
	margin-left:10px
}
.mr10 {
	margin-right:10px
}
.pt10 {
	padding-top:10px
}
.pb10 {
	padding-bottom:10px
}
.l {
	float:left
}
.r {
	float:right
}
.ovh {
	overflow:hidden
}
.bdc {
	border:1px solid #ccc
}
.no {
	border:0;
	padding-left:0;
	padding-right:0;
	margin:0;
	background-color:transparent
}
.col {
	overflow:hidden
}

.col_one {
	width:100%;
	float:none
}

.col_two {
	width:50%;
	float:left
}
.col .col_two:nth-of-type(odd) .li_a {
	box-shadow:none
}
.col_three {
	width:33.33333333333%;
	float:left
}
.col_four {
	width:25%;
	float:left
}
.ell {
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden
}
.rem {
	padding:.4em .8em;
	border-color:#e8b75e;
	border-style:solid;
	background-color:#f8fae4;
	overflow:hidden
}
.rem_top .rem {
	border-width:0 0 1px
}
.star,.star_in {
	background-image:url(../ImageFiles/star.png);
	background-repeat:repeat-x
}
.star {
	display:inline-block;
	width:105px;
	height:20px;
	vertical-align:middle
}
body:nth-of-type(1) .star_s {
	width:74px;
	height:16px
}
.star_s,.star_s .star_in {
	background-size:15px auto
}
body:nth-of-type(1) .star_s .star_in {
	background-position:0 -21px
}
.star_in {
	display:block;
	height:100%;
	background-position:0 -30px
}
.overlay {
	width:100%;
	height:100%;
	background-color:#000;
	opacity:.3;
	position:absolute;
	z-index:10;
	top:0;
	bottom:0
}
.trans {
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease
}
@font-face {
	font-family:ico;
	src:url(/b/m/ico.eot);
	src:url(/b/m/ico.eot?#iefix) format('embedded-opentype'),url(/b/m/ico.woff?v=1) format('woff'),url(/b/m/ico.ttf?v=1) format('truetype'),url(/b/m/ico.svg?v=1#icomoon) format('svg')
}
.ico {
	display:inline-block;
	font-family:'ico';
	vertical-align:-2px;
	speak:none
}
body:nth-of-type(1) .ico:before {
	display:block;
	width:1em;
	text-align:center;
	content:attr(data-icon)
}
.ico_down {
	height:1em;
	overflow:hidden
}
.ico_tel {
	text-shadow:1px 1px rgba(0,0,0,.45)
}
.ico_down_disable:before {
	width:0!important;
	height:0;
	margin-left:4px;
	overflow:hidden;
	border:4px solid;
	border-color:#666 transparent transparent
}
.ico_hui,.ico_bi,.ico_quan,.ico_jian {
	width:14px;
	height:14px;
	line-height:13px;
	border-radius:2px;
	color:#fff;
	font-size:12px;
	font-weight:normal;
	font-family:'arial';
	text-align:center;
	vertical-align:2px
}
.ico_hui {
	background-color:#fd8720
}
.ico_bi {
	background-color:#b68508
}
.ico_quan {
	background-color:#0e69b2
}
.ico_jian {
	background-color:#ff0000
}
.ico_comment,.ico_order,.icon_download {
	height:1em;
	overflow:hidden
}
.btn {
	display:inline-block;
	padding:.36em .4em;
	border-radius:.5em;
	-webkit-box-shadow:0 1px rgba(255,255,255,.4),inset 0 1px rgba(255,255,255,.4);
	box-shadow:0 1px rgba(255,255,255,.4),inset 0 1px rgba(255,255,255,.4);
	background-clip:padding-box;
	text-align:center;
	cursor:pointer;
	overflow:visible
}
.btn:active,.btn.active {
	-webkit-tap-highlight-color:rgba(255,255,255,0);
	background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(255,255,255,.2)),color-stop(50%,rgba(255,255,255,.1)),color-stop(50%,rgba(255,255,255,.15)));
	background-image:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(255,255,255,.1) 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.2));
	background-image:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(255,255,255,.1) 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.2));
	background-image:-o-linear-gradient(top,rgba(0,0,0,0),rgba(255,255,255,.1) 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.2));
	background-image:linear-gradient(top,rgba(0,0,0,0),rgba(255,255,255,.1) 50%,rgba(255,255,255,.12) 50%,rgba(255,255,255,.2))
}
.redbtn {
	border:1px solid #018bc8;
	background-color:#009BDF;
	background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.2)),to(rgba(0,0,0,0)),color-stop(50%,rgba(255,255,255,.15)),color-stop(50%,rgba(255,255,255,.1)));
	background-image:-webkit-linear-gradient(top,rgba(255,255,255,.2),rgba(255,255,255,.15) 50%,rgba(255,255,255,.1) 50%,rgba(0,0,0,0));
	background-image:-moz-linear-gradient(top,rgba(255,255,255,.2),rgba(255,255,255,.15) 50%,rgba(255,255,255,.1) 50%,rgba(0,0,0,0));
	background-image:-o-linear-gradient(top,rgba(255,255,255,.2),rgba(255,255,255,.15) 50%,rgba(255,255,255,.1) 50%,rgba(0,0,0,0));
	background-image:linear-gradient(top,rgba(255,255,255,.2),rgba(255,255,255,.15) 50%,rgba(255,255,255,.1) 50%,rgba(0,0,0,0));
	color:#fff;
	text-shadow:0 1px rgba(0,0,0,.3)
}
.graybtn {
	border:1px solid #bababa;
	background-color:#e0e0e0;
	background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.5)),to(rgba(0,0,0,0)),color-stop(50%,rgba(255,255,255,.15)),color-stop(50%,rgba(0,0,0,0)));
	background-image:-webkit-linear-gradient(top,rgba(255,255,255,.5),rgba(255,255,255,.15) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0));
	background-image:-moz-linear-gradient(top,rgba(255,255,255,.5),rgba(255,255,255,.15) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0));
	background-image:-o-linear-gradient(top,rgba(255,255,255,.5),rgba(255,255,255,.15) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0));
	background-image:linear-gradient(top,rgba(255,255,255,.5),rgba(255,255,255,.15) 50%,rgba(0,0,0,0) 50%,rgba(0,0,0,0));
	color:#666;
	text-shadow:0 1px #fff
}
.graybtn:active,.col.radius .col_three:nth-of-type(3n) .li_a {
	-webkit-tap-highlight-color:rgba(255,255,255,0);
	-webkit-box-shadow:none;
	box-shadow:none
}
.darkbtn {
	border:1px solid #525252;
	background-color:#4a4a4a;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#7c7c7c),to(#4a4a4a));
	background-image:-webkit-linear-gradient(top,#7c7c7c,#4a4a4a);
	background-image:-moz-linear-gradient(top,#7c7c7c,#4a4a4a);
	background-image:-o-linear-gradient(top,#7c7c7c,#4a4a4a);
	background-image:linear-gradient(top,#7c7c7c,#4a4a4a);
	color:#fff
}
.btn.disabled,span.btn {
	pointer-events:none;
	color:#acacac;
	text-shadow:1px 1px #fff
}
.block .btn {
	display:block
}
.group {
	margin:.5em
}
.group .btn,.col.square .btn {
	border-radius:0
}
.radius {
	border:1px solid #ababab;
	background-color:#fff;
	border-radius:.5em;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.2);
	box-shadow:inset 0 1px 1px rgba(0,0,0,.2);
	overflow:hidden
}
.radius.outset {
	border-color:#ccc;
	background-color:#dbdbdb;
	-webkit-box-shadow:inset 0 1px #ededed,0 1px #f7f7f7;
	box-shadow:inset 0 1px #ededed,0 1px #f7f7f7
}
.square.inset {
	-webkit-box-shadow:inset 0 .5em 1em rgba(0,0,0,.15);
	box-shadow:inset 0 .5em 1em rgba(0,0,0,.15)
}
.space {
	margin:.5em
}
ul.radius li,ul.square li,.col.radius li:last-child {
	border-bottom:1px solid #ccc
}
ul.radius li:last-child {
	border-bottom:0
}
.col.radius .li_a {
	-webkit-box-shadow:inset -1px 0 #ccc;
	box-shadow:inset -1px 0 #ccc
}
.li_a,.li_a_bar {
	display:block;
	padding:.7em 15px .7em 12px;
	position:relative
}
.li_a .ico_arrow,.li_a_bar .more {
	margin-top:-8px;
	position:absolute;
	right:14px;
	top:50%
}
.li_a .ico_arrow {
	color:#666
}
.li_a_bar .more {
	color:#fff
}
.li_a.active {
	background:#e0e0e0!important;
	-webkit-box-shadow:inset 0 2px 3px rgba(0,0,0,.2),inset 0 -2px 3px rgba(0,0,0,.2)!important;
	box-shadow:inset 0 2px 3px rgba(0,0,0,.2),inset 0 -2px 3px rgba(0,0,0,.2)!important
}
.li_a_bar {
	margin-bottom:-1px;
	border:solid #fff;
	border-width:1px 1px 0;
	background-color:#444;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#454545),to(#343434));
	background-image:-webkit-linear-gradient(top,#454545,#343434);
	color:#fff;
	-webkit-tap-highlight-color:rgba(255,255,255,0)
}
.li_a_bar:active {
	background-color:#a03830;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#ac3f37),to(#953129));
	background-image:-webkit-linear-gradient(top,#ac3f37,#953129)
}
.li_div {
	padding:.7em 12px
}
a.highlight,ul.highlight .li_a {
	background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,.8)),to(rgba(255,255,255,0)));
	background-image:-webkit-linear-gradient(top,rgba(255,255,255,.8),rgba(255,255,255,0));
	background-image:-moz-linear-gradient(top,rgba(255,255,255,.8),rgba(255,255,255,0));
	background-image:-o-linear-gradient(top,rgba(255,255,255,.8),rgba(255,255,255,0));
	background-image:linear-gradient(top,rgba(255,255,255,.8),rgba(255,255,255,0))
}
.line {
	border-bottom:1px solid #b5b5b5
}
.dashed {
	border-bottom:1px dashed #acacac
}
.bar {
	padding:.4em .5em;
	border-top:1px solid #f1f1f1;
	border-bottom:1px solid #bebebe;
	background-color:#dedede;
	box-shadow:0 1px #e5e5e5;
	position:relative
}
.bar:before {
	content:' ';
	width:100%;
	border-top:1px solid #ccc;
	position:absolute;
	left:0;
	right:0;
	top:-2px
}
a.bar {
	display:block;
	text-align:right
}
.header {
	height:38px;
	padding:.4em .5em .4em .3em;
	border-top:1px solid #d53e2c;
	border-bottom:1px solid #872317;
	background-color:#b33b2f;
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,.4),inset 0 -1px rgba(255,255,255,.2),inset 0 8px 8px rgba(0,0,0,.1),inset 0 -8px 8px rgba(0,0,0,.1);
	box-shadow:0 1px 2px rgba(0,0,0,.4),inset 0 -1px rgba(255,255,255,.2),inset 0 8px 8px rgba(0,0,0,.1),inset 0 -8px 8px rgba(0,0,0,.1);
	font-size:14px;
	overflow:hidden
}
.header_dark {
	background-color:#4e4e4e;
	border-top:0;
	border-color:#212121
}
.header .btn {
	margin-top:3px;
	float:right
}
.header .logo {
	width:117.5px;
	height:31px;
	vertical-align:middle
}
.header .city {
	margin-left:.5em;
	color:#fff
}
.bread {
	display:inline-block;
	border:1px solid #861d23;
	border-radius:.5em;
	background-color:#b9352b;
	-webkit-box-shadow:0 1px rgba(255,255,255,.3),inset 0 0 1px rgba(255,255,255,.4);
	box-shadow:0 1px rgba(255,255,255,.3),inset 0 1px rgba(255,255,255,.4)
}
:root .bread {
	margin-left:10px
}
.bread_off,.bread_on {
	line-height:20px;
	padding:6px;
	color:#fff;
	float:left;
	position:relative
}
:root .bread_off,:root .bread_on {
	padding-right:16px
}
.bread_on {
	background-color:#94241d;
	-webkit-box-shadow:inset 0 0 1px rgba(255,255,255,.2);
	box-shadow:inset 0 1px rgba(255,255,255,.2)
}
.bread_on.bread_last {
	-webkit-box-shadow:inset 0 0 1px rgba(255,255,255,.2),1px 0 rgba(0,0,0,.1);
	box-shadow:inset 0 1px rgba(255,255,255,.2),1px 0 rgba(0,0,0,.1)
}
.bread_on.bread_first {
	-webkit-box-shadow:inset 0 0 1px rgba(255,255,255,.2),-1px 0 rgba(0,0,0,.1);
	box-shadow:inset 0 1px rgba(255,255,255,.2),-1px 0 rgba(0,0,0,.1)
}
.bread_last,.group li:last-child .btn {
	border-top-right-radius:.5em;
	border-bottom-right-radius:.5em
}
.bread_first,.group li:first-child .btn {
	border-top-left-radius:.5em;
	border-bottom-left-radius:.5em
}
.li_a_bar {
	border-top-left-radius:.5em;
	border-top-right-radius:.5em
}
.index_loc .rem {
	border-bottom-left-radius:.5em;
	border-bottom-right-radius:.5em
}
:root .bread_last {
	padding-right:6px
}
:root .bread_on:before,:root .bread_off:before,:root .bread_on:after,:root .bread_off:after {
	content:' ';
	width:0;
	height:0;
	border-style:solid;
	border-width:16px 12px;
	position:absolute;
	left:-23px;
	top:0
}
body:nth-of-type(1) .bread_first:before,body:nth-of-type(1) .bread_first:after {
	left:-20px
}
:root .bread_on:before,:root .bread_off:before {
	border-color:transparent #861d23 transparent transparent;
	margin-left:-1px
}
:root .bread_on:after {
	border-color:transparent #94241d transparent transparent
}
:root .bread_off:after {
	border-color:transparent #b9352b transparent transparent
}
.nav {
	height:45px;
	background:#009BDF ;
}
.nav:after {
	background:url(../img/nav_bg.png) 48px repeat-x;
	display:block;
	height:5px;
	content: '';
	position:relative;
	bottom:-3px;
}
.nav_ul {
	overflow:hidden
}
.nav_ul>li {
	float:left;
	width: 50%;
	box-sizing: border-box;
}
.nav_a {
	display:inline-block;
	padding:.6em 5px .6em 6px;
	color:#fff;
	width: 100%;
	box-sizing: border-box;
	text-align: center;
	background-color:#0472a3;
	-webkit-box-shadow:inset 1px -1px rgba(255,255,255,.15),inset 0 -4px 6px rgba(255,255,255,.1);
	box-shadow:inset 1px -1px rgba(255,255,255,.15),inset 0 -4px 6px rgba(255,255,255,.1);
	border-right:1px solid #035b82;
	border-right:1px solid rgba(0,0,0,.1);
	border-bottom:1px solid #035b82;
}
/*.nav_off {
	-webkit-box-shadow:inset 1px -1px rgba(255,255,255,.15),inset 0 -4px 6px rgba(255,255,255,.1);
	box-shadow:inset 1px -1px rgba(255,255,255,.15),inset 0 -4px 6px rgba(255,255,255,.1)
}
.nav_black .nav_a {
	border-right:1px solid #ab1d25;
	border-right:1px solid rgba(0,0,0,.4)
}
.nav_red .nav_a {
	border-right:1px solid #9f3229;
	border-right:1px solid rgba(0,0,0,.1)
}
.nav_black .nav_off {
	border-bottom:1px solid #ab1d25;
	background-color:#ce242e
}
.nav_red .nav_off {
	border-bottom:1px solid #6d2019;
	background-color:#ce242e
}
body:nth-of-type(1) .nav_black .nav_off {
	background-color:#ce242e;
}
body:nth-of-type(1) .nav_red .nav_off {
	background-color:rgba(255,0,0,.5)
}*/

.nav_black .nav_off{background: #018bc8; border-bottom:none;box-shadow: none;}

.footer {
	display:block;
	padding:12px 12px 40px;
	border-top:1px solid #ddd;
	font-size:14px
}
.footer>a {
	color:#999
}
.download {
	position:absolute;
	width:100%;
	text-align:right;
	visibility:hidden;
	top:800px
}
.download .rem {
	border-width:1px 0 0
}
.index_s {
	padding:.5em;
	border-bottom:1px solid #fff;
	-webkit-box-shadow:inset 0 -1em 1em rgba(0,0,0,.1);
	box-shadow:inset 0 -1em 1em rgba(0,0,0,.1)
}
.index_s .search,.search_s .search {
	width:75%
}
.index_s .search[type='search'] {
	height:2em
}
.index_s .search[type='text'] {
	height:1.6em
}
s .index_loc {
	padding:0 .5em 1em
}
.index_loc .rem {
	display:block;
	border-width:0 1px 1px;
	color:#333
}
.index_ad .rem {
	display:block;
	border:0;
	color:#d04634
}
.index_ks {
	padding:.5em .5em 1em;
	position:relative
}
.index_ks_li {
	margin-right:3em
}
.index_ks .more {
	position:absolute;
	top:.5em;
	right:.5em
}
.index_ks_li a {
	display:inline-block;
	margin-right:.5em;
	margin-bottom:.5em
}
.detail_img {
	padding:3px;
	border:1px solid #ccc;
	background-color:#fff
}
.detail_data {
	padding-left:82px;
	font-size:88%
}
.detail_data p,.comm_list p,.search_list p {
	margin:.16em 0 .18em
}
.detail_slide {
	height:96px;
	position:relative;
	overflow:hidden
}
.detail_slide list {
	width:100%;
	text-align:justify;
	position:absolute;
	top:0
}
.detail_slide list:after {
	content:'';
	display:inline-block;
	width:100%
}
.detail_bawc {
	width:96px;
	display:inline-block;
	position:relative
}
.detail_bawc name {
	max-width:90px;
	padding-left:5px;
	padding-right:1px;
	position:absolute;
	left:0;
	background-color:rgba(0,0,0,.6);
	color:#fff;
	font-size:12px
}
.detail_bawc p {
	margin-top:4px;
	font-size:88%;
	text-align:center
}
.detail_slide .out {
	left:100%
}
.book_bawc_title {
	font-size:100%;
	margin-bottom:.4em
}
.book_bawc {
	max-width:320px;
	overflow:hidden
}
.book_bawc .detail_bawc:nth-of-type(3n) {
	margin-right:0
}
.detail_bawc .on {
	border:2px solid #d04634;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}
.book_bawc_choose {
	display:inline-block;
	margin-top:-4px;
	margin-bottom:4px;
	padding:2px .5em;
	border:1px solid #ccc;
	border-radius:6px;
	background-color:#fff
}
.book_bawc_btn {
	border-radius:.2em;
	padding:.1em .5em
}
.comm_form select {
	width:8em;
	opacity:0
}
.comm_list {
	padding-left:60px
}
.list_links {
	padding-top:.5em;
	color:#999
}
.list_links em {
	display:inline-block;
	margin:.5em .8em;
	font-style:normal
}
.search_area {
	min-height:2.2em;
	padding:.7em .5em .5em;
	margin-bottom:1px;
	border-bottom:1px solid #bababa;
	background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0)),to(rgba(0,0,0,.2)));
	background-image:-webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.2));
	background-image:-moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.2));
	background-image:-o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.2));
	background-image:linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.2));
	box-shadow:0 1px 2px #eee
}
.search_form select {
	opacity:0;
	width:4em;
	height:2em
}
.search_form .btn .ell {
	float:left;
	max-width:3.6em;
	margin-right:-2px
}
.search_s {
	padding:.5em;
	border-bottom:1px solid #c1c1c1;
	text-align:right;
	-webkit-box-shadow:inset 0 -1px #fff,inset 0 1em 1em rgba(255,255,255,.6);
	box-shadow:inset 0 -1px #fff,inset 0 1em 1em rgba(255,255,255,.6);
	position:relative
}
.search_s:before {
	content:'▲';
	line-height:1;
	-webkit-transform:scale(1,0.33);
	-moz-transform:scale(1,0.33);
	-o-transform:scale(1,0.33);
	color:#f8f8f8;
	font-family:Arial;
	font-size:36px;
	position:absolute;
	right:12px;
	top:-20px
}
.priv_form .search_area {
	padding-right:0
}
.priv_form .col_three {
	position:relative;
	overflow:hidden
}
.priv_form select {
	min-width:90px;
	opacity:0;
	left:0;
	right:10px
}
.priv_form .btn {
	margin-right:8px;
	text-align:left;
	overflow:hidden
}
.priv_form .btn .ell {
	width:66px;
	float:left
}
.priv_form .ico_down {
	float:right;
	margin:2px -2px 0 0
}
.top {
	font-size:14px;
	background:#fcfcdd;
	padding:.6em 5px .2em 10px
}

.tab_box{display: none;}
