<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="SiteCode" value="KM_HLF"/>
      <add key="ClientCode" value="WSY00"/>
      <add key="ShowPage" value="index.html"/>
      <add key="PrintTime" value="1"/>
      <add key="PrintAddress" value="云南昆明"/>
    </appSettings>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsHappyPhotoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://114.215.108.27/WebService/wsHappyPhoto.asmx"
                binding="basicHttpBinding" bindingConfiguration="wsHappyPhotoSoap"
                contract="srHappyPhoto.wsHappyPhotoSoap" name="wsHappyPhotoSoap" />
        </client>
    </system.serviceModel>
</configuration>
